#root {
   -fx-border-width: 0.5px;
   -fx-border-color: #ccc;
}

#btnRemoverFoto, #btnEscolherFoto {
    -fx-background-color: none;
    -fx-text-fill: rgba(0, 0, 0, 0.6);
    -fx-font-size: 12;
    -fx-font-family: "Inter Bold";
    -fx-padding: 0;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

#fotoFrame {
    -fx-border-color: #CCC;
    -fx-border-width: 0.5px;
    -fx-border-style: solid inside;
}

#btnEscolherFoto:hover {
    -fx-text-fill: rgba(0, 0, 0, 1.0);
}

#btnEscolherFoto:pressed {
    -fx-text-fill: rgba(0, 0, 0, 0.87);
}

#btnRemoverFoto:hover {
    -fx-text-fill: rgba(0, 0, 0, 1.0);
}

#btnRemoverFoto:pressed {
    -fx-text-fill: rgba(0, 0, 0, 0.87);
}

#btnOk {
    -fx-background-color: #4772A3;
    -fx-text-fill: white;
    -fx-border-radius: 0;
    -fx-background-radius: 0px;
    -fx-font-family: "Inter Bold";
}

#btnOk:hover {
    -fx-background-color: #3B5E86;
}

#txtDescricao, #txtCapacidade, #txtPreco, #cbSituacao {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #CCC;
    -fx-border-width: 0.5px;
    -fx-border-style: solid inside;
    -fx-text-fill: #000;
    -fx-border-radius: 0;
}

#close {
    -fx-image: url("/images/close_dark.png");
    -fx-transition: 0.5s;
}

#close:hover {
    -fx-image: url("/images/close_hovered.png");
    -fx-transition: 0.5s;
}

#close:pressed {
    -fx-image: url("/images/close_pressed.png");
    -fx-transition: 0.5s;
}