#btnFechar {
    -fx-background-color: rgba(0, 0, 0, 0.08);
    -fx-text-fill: rgba(0, 0, 0, 0.6);
    -fx-font-size: 12;
    -fx-font-family: "Inter Bold";
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

#btnFechar:hover{
    -fx-background-color: #ddd;
}

#btnOk {
    -fx-background-color: #4772A3;
    -fx-text-fill: white;
    -fx-border-radius: 0;
    -fx-background-radius: 0px;
    -fx-font-family: "Inter Bold";
}

#btnOk:hover {
    -fx-background-color: #3B5E86;
}

#txtNome, #txtEmail, #txtNumTelefone, #txtNumBI, #txtMorada, #dataNascimentoInput {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #CCC;
    -fx-border-width: 0.5px;
    -fx-border-style: solid inside;
    -fx-text-fill: #000;
    -fx-border-radius: 0;
}

#close {
    -fx-image: url("/images/close_dark.png");
    -fx-transition: 0.5s;
}

#close:hover {
    -fx-image: url("/images/close_hovered.png");
    -fx-transition: 0.5s;
}

#close:pressed {
    -fx-image: url("/images/close_pressed.png");
    -fx-transition: 0.5s;
}