#dialog {
    -fx-background-color: white;
    -fx-border-color: none;
    -fx-border-width: 2;
    -fx-border-radius: 0;
}

#btnOK {
    -fx-border-width: 0; 
    -fx-background-color:  rgba(0, 0, 0, 0.08);
    -fx-text-fill: rgba(0, 0, 0, 0.6);
    -fx-border-radius: 0;
    -fx-border-color: none;
}

#btnOK:hover {
    -fx-background-color:  rgba(0, 0, 0, 0.16);
}

#btnOK:pressed {
    -fx-background-color:  rgba(0, 0, 0, 0.12);
}